<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="idm.internet.download.manager.plus" />
        <package android:name="idm.internet.download.manager" />
        <package android:name="com.dv.adm.pay" />
        <package android:name="com.dv.adm" />
        <package android:name="org.freedownloadmanager.fdm" />
        <package android:name="nextapp.downloader" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">

        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription"
            android:value="Intercept browser downloads and forward to external download manager" />
        <meta-data android:name="xposedminversion" android:value="93" />
        <meta-data android:name="xposedscope" android:resource="@array/xposed_scope" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ForwardActivity: receives downloads from Hook (runs inside Chrome's process)
             Custom action = implicit intent resolution (no hardcoded package needed)
             exported=true required for cross-app launch -->
        <activity
            android:name=".ForwardActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true">
            <intent-filter>
                <action android:name="com.downloadmanager.FORWARD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".ModeProvider"
            android:authorities="com.downloadmanager.mode"
            android:exported="true"
            android:grantUriPermissions="false" />

    </application>

</manifest>
